<h1>Home#index</h1>

<% @profiles.each do |profile| %>
  <%= image_tag profile.badge, size: '30x30' %>
  <%= link_to profile.name, profile_path(profile) %>
  <span class="badge badge-secondary"><%= profile.tier %> <%= profile.rank %></span>
  <br>
<% end %>
