@import "bootstrap";

body {
  overflow-x: hidden;
  font-size: 100%;
  background-color: #eee;
}

a {
  color: #111;
}

a:hover {

}

h1 {
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #133;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#menu-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  margin-left: 40px;
  margin-top: 5px;
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #menu-toggle {
    display: none;
  }

  .sidebar-nav>.sidebar-brand {
    margin-left: 0;
    margin-top: 0;
  }
}


 // For home
#page-content-wrapper {
  padding: 5px 0;
}

.post {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #aaa;
  display: flex;
}

.post-face {
  border-radius: 50%;
  max-width: 80px;
  width: 100%;
  padding: 0;
}

.post-face-box {
  position: absolute;
  padding: 5px;
  margin: 0;
  width: 80px;
  float: left;
}

.post-body {
  margin: 0 0 0 80px;
  padding: 0;
  width: 100%;
}

.container#main {
  margin: 5px 0;
  padding: 15px 25px;
  max-width: 900px;
  background-color: #fff;
  float: left;
}

.notice, .alert {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 520px) {
  .post-body {
    margin-left: 0;
  }
  .post-face-box {
    display: none;
  }
}

 // For verify

#verify_guide {
  width: 100%;
}

// For profile

#display-picture {
  border-radius: 50%;
}

#profile-name {
  text-align: center;
  float: left;
  border: 1px solid #eee;
  padding: 5px;
}

#profile-name p {
  margin: 0;
}

#profile-name h2 {
  margin: 0;
}

#profile-controls {
  float: left;
  clear: left;
}
